* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 20px;
}

.logo {
    width: 110px;
}

li,
a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 599;
    text-decoration: none;
    color: rgb(87, 87, 87);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links a:hover {
    color: rgb(7, 7, 7);
}

.container {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}

.slider-wrapper {
    position: relative;
    max-width: 1380px;
    margin: 0 auto;
}

.slider {
    display: flex;
    height: 750px;
    border-radius: 25px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.7rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    left: 41.5%;
    bottom: 40px;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.40;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 100%;
}


.slider::-webkit-scrollbar {
    display: none;
}

.description {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 80px;
    right: 60px;
    width: 350px;
    color: #555;
    z-index: 2;
    text-align: right;
    width: 40%;
    max-width: 450px;
}

.description .lead {
    font-size: 25px;
    margin-bottom: 10px;
}

.description p {
    font-size: 15px;
    line-height: 20px;
}

.product {
    position: absolute;
    width: 400px;
    height: 350px;
    bottom: 15%;
    left: 67%;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    /* semi-transparent white */
    backdrop-filter: blur(10px);
    /* blur the background behind */
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
}

#lip {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    width: 250px;
    border-radius: 10px;
}

.product h3,
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    padding-left: 8px;
}

.product p {
    font-size: 14px;
    font-weight: 450;
    padding-top: 2px;
}

.go-bttn {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: rgb(230, 228, 228);
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 320px;
    bottom: 290px;
}

.go-bttn:hover {
    background-color: #787878;
}

.go-bttn img {
    width: 18px;
    height: 20px;
    transform: rotate(-45deg);
}

.ingredients {
    position: absolute;
    display: flex;
    top: 650px;
    left: 925px;
    gap: 12px;
}

.ingredient {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #555;
    padding: 8px 16px;
    border-radius: 999px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    white-space: nowrap;
}

.about-brand {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 45px;
    /* optional padding for left side */
    padding-right: 40px;
    /* optional padding for right side */
}

.about-brand h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #555;
    margin: 0;
}

.about-brand p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    max-width: 600px;
    margin: 0;
    text-align: left;
    line-height: 1.5;
}

.bestsellers {
    max-width: 1380px;
    margin: 0 auto;
}

.bestsellers p {
    font-size: 14px;
    font-weight: 500;
    color: #646363;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding-bottom: 40px;
}

.product-card {
    height: 400px;
    background: rgba(255, 255, 255, 0.1);
    /* semi-transparent white */
    backdrop-filter: blur(10px);
    /* blur the background behind */
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    position: relative;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.03);
    /* slightly grow the card */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.brand {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #555;
    font-weight: bold;
    margin: 0;
}

.product-card img {
    width: 250px;
    height: 240px;
    margin-top: auto;
    object-fit: contain;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin-top: 16px;
}

.info-row h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 4px;
    color: #444;
}

.info-row p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 450;
    color: #6b6b6b;
    margin: 0;
    padding: 0;
}

.price {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #444;
}

.values-wrapper {
    max-width: 1380px;
    width: 100%;
    height: 450px;
    margin: 20px auto 100px;

    padding: 20px;
    border-radius: 16px;

    background-image: url('images/values2\ copy.jpg');
    background-size: cover;
    background-position: 20% 40%;
    background-repeat: no-repeat;

    color: white;
    position: relative;
    box-shadow: 0 1.5rem 3rem -0.7rem hsla(0, 0%, 0%, 0.25);
}

.content-box {
    position: absolute;
    width: 400px;
    height: 210px;
    border-radius: 25px;
    margin: 10px 10px 10px 10px;
    background-color: white;
    text-align: left;
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: 0 1.5rem 5rem -0.7rem hsla(0, 0%, 0%, 0.25);
}

.content-box h3 {
    margin-top: 45px;
    margin-left: 30px;
    font-size: 25px;
}

.content-box p {
    margin-top: 10px;
    margin-left: 25px;
    line-height: 1.5;
}

.links a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #646363;

    text-decoration: underline;
    text-decoration-color: #dcdbdb;
    text-underline-offset: 8px;

    position: absolute;
    margin-top: 250px;
    margin-left: 40px;
}

.links a:hover {
    color: #393838;
}

.pills {
    margin-top: 335px;
    margin-left: 765px;
    display: flex;
    gap: 12px;
}

.pills .ingredient {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
/* @media (max-width: 1400px) {
    .slider-nav {
        position: absolute;
        left: 50%;
    }
    .slider img {
        object-fit: cover;
    }
    .description {
      display: none;
    }
  }
